body{
    font-family: 'Roboto', sans-serif;
}
.nav-back{
    background: rgba(190,190,190, 0.95);
}
.navbar-brand{
    color: rgba(1.7, 33.5, 86.9, 1);
    font-weight: bold;
}
.navbar-brand:hover{
    color: #ffffff;
}
.nav-link{
    color: rgba(1.7, 33.5, 86.9, 1);
}
.nav-link:hover{
    color: #ffffff;
}
.navbar-toggler{
    outline: none !important;
}
/* Hero Section */
#hero{
    width: 100%;
    height: 100vh;
    background: url(../images/hero.jpg) center;
    background-size: cover;
}
#hero .container{
    padding-top: 80px;

}
#hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
#hero h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #ffffff;
}
#hero h2{
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: light;
    letter-spacing: 0.5px;

}
.main-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.main-btn:hover{
    background: rgba(1.7, 33.5, 86.9, 0.8);
    border: 2px solid rgba(1.7, 33.5, 86.9, 0.8);
    text-decoration: none;
    color: #ffffff;
}
/* usługi */
.service{
    text-align: center;
    padding: 70px 20px 80px 20px;
    background: rgba(1.7, 33.5, 86.9, 0.9);
}
.service .icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border-radius: 50px;
}
.service .icon i{
    font-size: 32px;
    line-height: 1;
    position: relative;
    color: rgba(1.7, 33.5, 86.9, 1);
}
.service h4{
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}
.service p{
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 0;
    color: rgba(190,190,190, 1);
}
.service p{
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 0;
}