html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.4) !important;
}
.nav-back{
    background: rgba(190,190,190, 0.95);
}
.navbar-brand{
    color: rgba(1.7, 33.5, 86.9, 1);
    font-weight: bold;
}
.navbar-brand:hover{
    color: #ffffff;
}
.nav-link{
    color: rgba(1.7, 33.5, 86.9, 1);
}
.nav-link:hover{
    color: #ffffff;
}
.navbar-toggler{
    outline: none !important;
}

/* Hero  */
#hero{
    width: 100%;
    height: 100vh;
    background: url(../images/hero.jpg) center;
    background-size: cover;
}
#hero .container{
    padding-top: 80px;

}
#hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
#hero h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.9);
}
#hero h2{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: light;
    letter-spacing: 0.5px;

}
.main-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.main-btn:hover{
    background: rgba(1.7, 33.5, 86.9, 0.8);
    border: 2px solid rgba(1.7, 33.5, 86.9, 0.8);
    text-decoration: none;
    color: #ffffff;
}

/* o nas */
  .about-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .about-heading {
    text-transform: uppercase;
  }
  
  .about-heading .about-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  
  .about-heading .about-heading-lower {
    display: block;
    font-size: 38px;
    font-weight: 100;
  }
  
  .bg-faded {
    background-color: rgba(1.7, 33.5, 86.9, 0.9);
  }

  .about {
    position: relative;
  }
  
  @media (min-width: 992px) {
    .about .about-img {
      width: 75%;
      float: right;
    }
    .about .about-text {
      left: 0;
      width: 60%;
      margin-top: 3rem;
      position: absolute;
    }
  }
  
  @media (min-width: 1200px) {
    .about .about-text {
      width: 45%;
    }
  }

/* kontakt */
  .contact-box {
    color: #fff;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
    background:rgba(1.7, 33.5, 86.9, 0.9);
  }
  
  .contact-box i {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact-box h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact button{
    background: rgba(1.7, 33.5, 86.9, 0.9);
    border: none;
    padding: 10px;
  }

 .contact button:hover{
   background: rgba(1.7, 33.5, 86.9, 0.9);
   color: #fff;
 } 

/* stopka */
 .footer {
    text-align: center;
    font-size: 0.9rem;
    background:rgba(1.7, 33.5, 86.9, 0.9);
  }
  .footer .text{
    color: #fff;
  }