@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
    font-family: 'Roboto', sans-serif;
}
.nav-back{
    background: rgba(17, 219, 219, 0.8);
}
.navbar-brand{
    color: #000000;
    font-weight: bold;
}
.navbar-brand:hover{
    color: #ffffff;
}
.nav-link{
    color: #000000;
}
.nav-link:hover{
    color: #ffffff;
}
.navbar-toggler{
    outline: none !important;
}




/* Hero */
#hero{
    width: 100%;
    height: 100vh;
    background: url(./images/hero.jpg) center;
    background-size: cover;
}
#hero .container{
    padding-top: 80px;

}
#hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
#hero h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #ffffff;
}
#hero h2{
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: light;
    letter-spacing: 0.5px;

}
.main-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.main-btn:hover{
    background: rgba(17, 219, 219, 0.8);
    border: 2px solid rgba(17, 219, 219, 0.8);
    text-decoration: none;
    color: #ffffff;
}




/* usługi */
.service{
    text-align: center;
    padding: 70px 20px 80px 20px;
    background: rgba(17, 219, 219, 0.8);
}
.service .icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border-radius: 50px;
}
.service .icon i{
    font-size: 32px;
    line-height: 1;
    position: relative;
    color: rgb(0, 204, 255);
}
.service h4{
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-size: 22px;
}
.service p{
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 0;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }




/* o nas */
  .about-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .about-heading {
    text-transform: uppercase;
  }
  
  .about-heading .about-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  
  .about-heading .about-heading-lower {
    display: block;
    font-size: 38px;
    font-weight: 100;
  }
  
  .bg-faded {
    background-color: rgba(17, 219, 207,0.8);
  }

  .about-button .btn-color{
    background: #03a59a;
    font-weight: bold;
    color: #fff;
  }
  .about {
    position: relative;
  }
  
  @media (min-width: 992px) {
    .about .about-img {
      width: 75%;
      float: right;
    }
    .about .about-text {
      left: 0;
      width: 60%;
      margin-top: 3rem;
      position: absolute;
    }
    .about .about-text .about-button {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .about .about-text {
      width: 45%;
    }
  }



/* kontakt */
  .contact-box {
    color: #000;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
    background:#11dbcf;
  }
  
  .contact-box i {
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact-box h3 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact button{
    background: #11dbcf;
    border: none;
    padding: 10px;
  }

 .contact button:hover{
   background: #00d9ff;
   color: #fff;
 } 



 .footer {
    text-align: center;
    font-size: 0.9rem;
    background:rgba(17, 219, 207,0.8);
  }
  .footer .btn-back{
    background: #fff;
    color: #00d9ff;
  }
  .footer .text{
    color: #000;
  }